# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# WIP Folders
Environment/
FileSelect/
KoopaBattleMap/
LavaShellTower/
LavaSunPlanet/
Light/
NamePosHolder/
OceanBowl/
OceanHome/
OceanRing/
OceanSphere/
PlanetMap/
QuakeEffectGenerator/
Race/
Rail/
Select/
SleepController/
SunshadeMap/
Switch/
Water/
GravityDust.*
SpaceInner.*

Actor/
Draw/
Fur/
Joint/
Math/
Misc/

# WIP files
CollisionCategorizedKeeper.*
CollisionCode.*
CollisionDirector.*
CollisionParts.*
GroundChecker.*
HitInfo.
KCollisionPlus.*

JMapUtil.*


ActorAnimKeeper.*
ActorCameraInfo.*
ActorJointCtrl.*
ActorLightCtrl.*
ActorPadAndCameraCtrl.*
ActorStateBase.*
ActorStateKeeper.*
AllLiveActorGroup.*
AnimationRandomPlayer.*
Binder.*
ClippingActorHolder.*
ClippingActorInfo.*
ClippingDirector.*
ClippingGroupHolder.*
ClippingJudge.*
DisplayListMaker.*
DynamicJointCtrl.*
EffectKeeper.*
FaceJointCtrl.*
FlashingCtrl.*
HitSensor.*
HitSensorInfo.*
HitSensorKeeper.*
IKJointCtrl.*
LiveActor.*
LiveActorFlag.*
LiveActorGroup.*
LiveActorGroupArray.*
LodCtrl.*
MaterialCtrl.*
MessageSensorHolder.*
MirrorActor.*
MirrorCamera.*
MirrorReflectionModel.*
ModelManager.*
ModelObj.*
PartsModel.*
RailRider.*
SensorHitChecker.*
ShadowController.*
ShadowDrawer.*
ShadowSurfaceBox.*
ShadowSurfaceCircle.*
ShadowSurfaceDrawer.*
ShadowSurfaceOval.*
ShadowVolumeBox.*
ShadowVolumeCylinder.*
ShadowVolumeDrawer.*
ShadowVolumeFlatModel.*
ShadowVolumeLine.*
ShadowVolumeModel.*
ShadowVolumeOval.*
ShadowVolumeOvalPole.*
ShadowVolumeSphere.*
SimpleJ3DModelDrawer.*
SpotMarkLight.*
ViewGroupCtrl.*
VolumeModelDrawer.*


ModelChangableObjFactory.*
MovementOnOffGroupHolder.*
NameObjCategoryList.*
NameObjExecuteHolder.*
NameObjFactory.*
NameObjFinder.*
NameObjHolder.*
NameObjListExecutor.*

# Animation WIP files
AnmPlayer.*
BckCtrl.*
BpkPlayer.*
BrkPlayer.*
BtkPlayer.*
BtpPlayer.*
BvaPlayer.*
LayoutAnmPlayer.*
MaterialAnmBuffer.*
XanimeCore.*
XanimePlayer.*
XanimeResource.*