# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# WIP Folders
Environment/
FileSelect/
KoopaBattleMap/
LavaShellTower/
LavaSunPlanet/
Light/
NamePosHolder/
OceanBowl/
OceanHome/
OceanRing/
OceanSphere/
PlanetMap/
QuakeEffectGenerator/
Race/
Rail/
Select/
SleepController/
SunshadeMap/
Switch/
Water/
GravityDust.*
SpaceInner.*

# WIP Files
CollisionCategorizedKeeper.cpp
CollisionCategorizedKeeper.hpp
CollisionCode.cpp
CollisionCode.hpp
CollisionDirector.cpp
CollisionDirector.hpp
CollisionParts.cpp
CollisionParts.hpp
GroundChecker.cpp
GroundChecker.hpp
HitInfo.cpp
HitInfo.hpp
KCollisionPlus.cpp
KCollisionPlus.hpp